header {
    background-color: #004747;
}

nav ul li a {
    color: aquamarine;
}

main {
    color: azure;
    background-color: rgb(13, 53, 53);
}

main p {
    background-color: rgba(16, 16, 16, 0.50);
}

section {
    color: azure;
    background-color: rgb(28, 75, 75);
}

section > div {
    background-color: rgb(12, 49, 49);
}

.skill-content span {
    color: azure;
}

section div.skill > span {
    color: azure;
}

footer {
    background-color: rgb(0, 36, 36);
    color: white;
}