header {
    background-color: rgba(0, 71, 71, 0.80);
}

nav ul li a {
    color: aquamarine;
}

main {
    color: azure;
    background-color: rgb(13, 53, 53);
}

main p {
    background-color: rgba(16, 16, 16, 0.50);
}

section {
    color: azure;
    background-color: rgb(12, 49, 49);
}

section div.containerC{
    background-color: rgb(16, 86, 86);
}

.containerD span {
    color: azure;
}

section div.containerC>span {
    color: azure;
}

#contact {
    background-color: rgb(0, 36, 36);
    color: azure;
}

#contact form input,
#contact form textarea {
    font-size: 2em;
    border: 1px solid aqua;
}

#contact form button {
    background-color: #005656;
    color: azure;
}

#contact form button:hover {
    background-color: #004747;
}

footer {
    background-color: rgb(0, 24, 24);
    color: azure;
}