/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-height: 100vh; 
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* Header styles */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgb(0, 250, 0), rgb(0, 125, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    width: 100%;
    padding: 10px;
    flex-direction: row;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.25rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: gold;
    text-decoration: underline;
}

/* table & pc size */
@media screen and (min-width: 768px) {
    #menu-burger {
        display: none;
        visibility: hidden;
    }

    nav ul li {
        margin-right: 20px;
    }
}

/* tablet size */
@media screen and (max-width: 1058px) {
    header {
        flex-direction: column;
    }
}

/* mobile size */
@media screen and (max-width: 768px) {
    #title {
        flex-direction: column;
    }

    #menu-burger {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        width: 100%;
        border: 1px solid silver;
        cursor: pointer;
        font-size: 2.5rem;
        background-color: rgb(8, 48, 48);
        height: 100%;
        padding: 20px;
        margin-top: 10px;
    }

    #menu-burger:hover {
        border: 1px solid gold;
    }

    #menu-burger:checked ~ ul {
        width: 100%;
        display: flex;
        visibility: visible;
    }

    #menu-burger:checked ~ ul li {
        display: flex;
        width: 100%;
        padding: 10px;
        height: 100%;
    }

    #menu-burger:checked ~ ul li a {
        width: 100%;
        text-align: center;
        height: 100%;
        text-decoration: none;
    }

    #menu-burger:checked ~ ul li:hover {
        border: 1px solid gold;
    }

    #menu-burger:checked ~ ul li {
        border: 1px solid transparent;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    #menu {
        display: none;
        flex-direction: column;
    }
}

/* Main styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    padding-top: 200px;
}

main h2 {
    font-size: 1.75em;
    margin-bottom: 20px;
}

main p {
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Section styles */
section {
    text-align: center;
    padding: 50px;
    flex-grow: 1;
}

section h3 {
    color:rgb(180, 192, 192);
    font-size: 1em;
    font-weight: normal;
}

section > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

section div.containerC {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.containerD {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerD img {
    margin-bottom: 10px;
    width: 100%;
}

.containerD span {
    font-weight: bolder;
    display: block;
    width: 100%;
}

section div.containerC > img {
    margin-bottom: 10px;
}

section div.containerC > span {
    font-weight: bolder;
    display: block;
}

.link {
    border: 1px solid transparent;
}

.link:hover {
    border: 1px solid gold;
}

.link:hover span {
    color: gold;
}

/* Contact section styles */
#contact {
    padding: 50px;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form div {
    margin-bottom: 20px;
}

#contact form label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

#contact form textarea {
    height: 150px;
}

#contact form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles */
footer {
    padding: 10px;
    display: flex;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
}

footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}

footer ul li {
    margin-left: 10px;
}