* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
}

h1 {
    font-size: 96px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    text-align: center;
    padding: 50px;
    flex-grow: 1;
}

#loader {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #f2f2f2;
    border: 5px solid #007bff;
    border-top: 5px solid #333;
    animation: spin 15s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
